/* This file is for global css rules that are not
   customizations of Bootstrap rules. Please put those
   in _overrides.less */

#app-name {
  background-image: url(../img/icon.png);
  background-repeat: no-repeat;
  background-position: 18px 5px;
  padding-left: 45px;
}
#app-name:hover {
  background-image: url(../img/icon-glow.png);
  background-repeat: no-repeat;
  background-position: 12px 0px;
}

.page-header {
    .backlink {
        .pull-right;
        padding-top: 6px;
        font-size: @baseFontSize;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * LABLIST
 * ~~~~~~~
 *
 * The list of labs on a grader home page. Includes a title, deadlines, stats
 * and a submission graph in the background.
 */
.lablist {
  > div {
    border-bottom: thin #ddd solid;
    margin: 1em 0;
    position: relative;
    z-index: 0;
    min-height: 66px;
    padding-bottom: 20px;
  
    h2 { margin:0; }

    .stats { line-height:36px; font-size: 1em; }

    .submission-graph {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 640px;
      z-index:-1;
 
      canvas {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}

dl.info-list {
  margin: 0;

  > dt {
    clear: left;
    float: left;
    padding-right: .5em;
  }
  > dt:after {
    content: ":";
  }
}

.small-text {
    font-size: 0.8em;
}
.small-date { 
  .muted;
  .small-text;
}

.buttons {
  padding-top: 10px;
  padding-bottom: 10px;
}

.lab {
  > div {
    height: 9*@baseLineHeight + 8px;
  }

  h3 {
    margin-top: 0px;
    padding: 3px 6px;
    background: @grayEvenLighter;
    overflow: auto;

    a, span {
      color: @black;
      white-space: nowrap;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left;
      width: 250px;
    }

    span {
      color: #BBB;
    }
  }

  h4 {
      font-size: 16px;
      padding-top: 4px;
      padding-left: 7px;
      text-align: center;
  }

  p {
    padding-left: 8px;
    padding-top: 15px;
    font-size: 1.1em;
    line-height: 1.6em;
  }

  .thumbnail {
    p {
      padding: 0;
      text-align: center;
    }
  }

  .deadline-human {
      padding-top: 7px;
      padding-bottom: 11px;
      font-size: 2.8em;
      line-height: 2*@baseLineHeight;
      font-weight: 300;
      text-align: center;
  }

  .deadline-date {
      .muted;
      padding-top: 4px;
      padding-left: 7px;
      text-align: center;
  }

  .label {
    margin-right: 7px;
  }

  .icon-custom-substatus {
    .icon-large;
    .pull-right;
    padding-right: 5px;
    padding-top: 3px;
    color: darken(@grayEvenLighter, 20%);
  }

  &.substatus-none      .icon-custom-substatus { .icon-download-alt; }
  &.substatus-new       .icon-custom-substatus { .icon-download-alt; }
  &.substatus-cancelled .icon-custom-substatus { .icon-ban-circle; }
  &.substatus-submitted .icon-custom-substatus { .icon-time;       color: @infoText; }
  &.substatus-accepted  .icon-custom-substatus { .icon-ok;         color: @successText; }
  &.substatus-rejected  .icon-custom-substatus { .icon-ban-circle; color: @errorText; }

}

.nav-tabs {
  .icon-custom-substatus {
    .icon-large;
    .pull-left;
    padding: 7px 5px 0 0 !important;
  }

  .substatus-none      { display: none; }
  .substatus-new       { color: @grayLight; }
  .substatus-submitted { i { .icon-time; color: @infoText; }        color: @infoText; }
  .substatus-cancelled { i { .icon-ban-circle; color: @grayLight; } color: @grayLight; }
  .substatus-accepted  { i { .icon-ok; color: @successText; }       color: @successText; }
  .substatus-rejected  { i { .icon-ban-circle; color: @errorText; } color: @errorText; padding-top: 8px; }

  .active .icon-custom-substatus { color: @navbarText; }
}

.plaintext p {
  line-height: 28px;
  margin-bottom: 18px;
}

.topinfo {
  margin-bottom: 12px;
}

.icon-extended-deadline {
  .icon-asterisk;
  color: @green;
}

.icon-warning {
  .icon-exclamation-sign;
  color: @red;
}

.fileaction {
  color: @blueDark;
  cursor: pointer;
}

.submission {
  h3 { margin: 0px; line-height: inherit; padding-bottom: 7px; }
  p { margin-bottom: 2px; }
  .filelisting-5col { margin-top: 9px; }
  .info-list { margin-top: 6px; }

  #submission-statusbar {
    line-height: 28px;
    color: @grayLight;
  }
}

table.filelisting-5col {
  table-layout: fixed;

  .filename { width: 35%; }
  .size     { width: 15%; text-align: right; }
  .date     { width: 20%; }
  .user     { width: 20%; }
  .actions  { width: 10%; text-align: right; }

  .filename .icon {
    color: @orange;
    margin-left: 6px;
    cursor: default;
  }

  td.filename, td.user { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

  td.date { .small-date; }

  .message-error {
    color: red;
    font-weight: bold;
  }

  .progress {
    margin-bottom: 0;
  }

  tbody > tr.nofiles { display: none; font-style: italic; }
  tbody > tr.nofiles:only-child { display: table-row; }
}

.link-icon:hover {
    text-decoration: none;
    .text { text-decoration: underline; }
}

#reset-password {
  margin-top: 18px;
  text-align: center;
}

#reset-password a {
  text-decoration: underline;
  cursor: pointer;
}

#fileupload { display: none; }

#modal-confirm-submit {
  ul.submission-authors li {
    list-style: none;
    font-size: 1.2em;
    line-height: 1.5*@baseLineHeight;
  }
}

tr.default-row { display: none; }

.grader-submissions-table {
  tr.other-grader {
    .muted;
    display: none;
  }
}

.submission {
  margin-bottom: 36px;
}

#submissions > .submission {
  border-top: 1px #DDD solid;
  padding-top: 18px;
}

#submissions > .submission:first-child {
  border-top: none;
  padding-top: 0;
}

#review-form {
  padding-bottom: 10px;
}

#browse-download {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 100;
}

#browse-download a {
  font-size: 40px;
  text-decoration: none;
}

table.table-vcenter td {
  vertical-align: middle;
}

table.sortable thead th:hover
{
    background: #efefef;
    cursor: pointer;
}

#grader-assignment {
  margin-bottom: 9px;

  td {
    padding: 4px 0 0 8px;
    line-height: 26px;
    min-width: 80px;

    input {
      margin-right: 5px;
      margin-bottom: 4px;
      padding-right: 0;
      width: 2.75em;
      float: left;
    }

    .percent {
      margin: 0;
      line-height: 26px;
    }
    .percent::before {
      content: '≈ ';
    }
    .percent::after {
      content: '%';
    }
  }

  .unassigned, .unassigned + .percent {
    color: #BBB;
  }

  .understaffed {
    background-color: @errorBackground;
    border-color: #FFF;
  }
  .understaffed * {
    color: @errorText !important;
  }
}

#course-homepage {
  padding-left: 0;

  i {
    font-size: 16px;
    vertical-align: middle;
    margin-top: -6px;
  }
}